.product-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.product-item {
    width: 160px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}


.specification-table {
    border-collapse: collapse;
    width: 100%;
 }
 
 .specification-table th,
 .specification-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
 }
 
 .specification-table th {
    background-color: #f2f2f2;
 }
 